header .container {
  width: 100%;
  height: 44px;
  background-color: #ff841d;
  position: relative ;
}
header .container > .row {
  margin-left: -15px;
  margin-right: -15px;
  width: 100%;
  height: 44px;
}
header .container > .row a {
  position: absolute;
  width: 50px;
  height: 44px;
}
header .container > .row a.header-app {
  right: 0;
  top: 5px;
}
header .container > .row a.left-arrow {
  font-size: 20px;
  top: 0;
  left: 0;
}
header .container > .row a i {
  font-size: 30px;
  color: #fff;
  padding-left: 20px;
}
header .container > .row p {
  width: 100%;
  height: 44px;
  color: #fff;
  font-size: 20px;
  font-family: "宋体";
  font-weight: bold;
  text-align: center;
  line-height: 44px;
}
.section_money .container {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
}
.section_money .container > #product-father {
  width: 100%;
  margin: 0px auto;
}
.section_money .container > #product-father > li {
  width: 100%;
  padding: 14px 8px;
  position: relative;
  border-bottom: 1px solid #ccc;
}
.section_money .container > #product-father > li > a {
  display: block;
  text-decoration: none;
}
.section_money .container > #product-father > li > a .pic {
  float: left;
  width: 110px;
}
.section_money .container > #product-father > li > a .pic img {
  width: 100px;
  height: 100px;
  vertical-align: middle;
  border: none;
}
.section_money .container > #product-father > li > a .info {
  padding-left: 120px;
  font-size: 14px;
  font-family: "宋体";
  line-height: 24px;
}
.section_money .container > #product-father > li > a .info .title {
  color: #333333;
  word-break: break-all;
  font-size: 15px;
  line-height: 19px;
  min-height: 57px;
  text-align: left;
  font-weight: normal;
}
.section_money .container > #product-father > li > a .info .title span {
  color: #ff6c00;
  display: inline;
}
.section_money .container > #product-father > li > a .info .other {
  margin-top: 8px;
  color: #a1a1a1;
}
.section_money .container > #product-father > li > a .info .other span {
  display: inline-block;
}
.section_money .container > #product-father > li > a .info .other .mall {
  color: #a1a1a1;
  font-size: 12px;
  float: left;
}
.section_money .container > #product-father > li > a .info .other .comment {
  color: #a1a1a1;
  font-size: 12px;
  float: right;
}
.section_money .container .page-select {
  position: relative;
  width: 100%;
  min-width: 320px;
}
.section_money .container .page-select a {
  text-decoration: none;
  width: 82px;
  height: 33px;
  background-color: #ccc;
  color: black;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  font-family: "宋体";
  line-height: 33px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.section_money .container .page-select .dropup {
  position: absolute;
  left: 45%;
  margin: 20px auto;
}
.section_money .container .page-select .dropup .dropdown-menu {
  padding: 0;
}
.section_money .container .page-select .dropup .dropdown-menu > li.left-pad {
  padding: 2px 50px;
}
.section_money .container .page-select .dropup .dropdown-menu > li.active {
  background-color: #ccc;
}
footer .footer-nav {
  width: 100%;
  height: 36px;
  background-color: #ebebeb;
  border-top: solid 1px #ccc;
  border-bottom: 1px solid #ccc;
  line-height: 36px;
  padding-left: 8px;
  font-family: "宋体";
  font-size: 14px;
}
footer .footer-nav a {
  color: black;
}
.f-bottom {
  margin-top: 25px;
  width: 100%;
  height: 94px;
  background-color: #EFEFEF;
}
.f-bottom .footer_fun > a {
  color: black;
  text-decoration: none;
  display: block;
  height: 34px;
  line-height: 34px;
  box-sizing: border-box;
  float: left;
  font-size: 14px;
  border: 1px solid #c4c4c4;
  border-left: none;
  text-align: center;
  width: 30%;
  font-family: '宋体';
}
.f-bottom .footer_fun > a > img {
  width: 15px;
  height: 15px;
  vertical-align: -5%;
}
.f-bottom .footer_fun .footer_last {
  width: 40%;
}
.f-bottom .footer_bottom {
  margin-top: 10px;
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.f-bottom .footer_bottom > p {
  color: #5a5a5a;
}
.f-bottom .footer_bottom > p .m-phone {
  color: black;
  text-decoration: none;
}
.f-bottom .footer_bottom .footer_red {
  color: red;
}
.f-bottom .footer_bottom .footer_net {
  margin-top: -13px;
}
.fix-app {
  position: fixed;
  right: 0px;
  bottom: 30px;
  z-index: 999;
}
.fix-app a > img {
  width: 60px;
  height: 67px;
}
